<!DOCTYPE html>
<html lang="en">
<head>
    {#<link rel="stylesheet" href="style.css">#}
    <title>{% block title %}Site for comics and web comics{% endblock %}</title>
    {% block header %}{% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/comics/">Home</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="top_navigation">
        {% block top_navigation %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="bottom_navigation">
        {% block bottom_navigation %}
        {% endblock %}
    </div>
</body>
</html>
